.uploads-container {
  background: #0d0f22;
  min-height: 100vh;
  padding-bottom: 40px;
}

.uploads-title {
  text-align: center;
  color: #51e8ff;
  font-size: 2rem;
  margin: 25px 0;
}

.uploads-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.delete-btn {
 width: 100px;
  margin-top: 10px;
  padding: 8px;
  font-size: 0.9rem;
  background: #ff6fff;
  border: none;
  color: #0d0f22;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.delete-btn:hover {
  background: #ff1744;
  transform: scale(1.05);
}


.uploads-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 16px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(81, 232, 255, 0.3);
  border: 1px solid rgba(81, 232, 255, 0.2);
  transition: 0.3s;
}

.uploads-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px rgba(81, 232, 255, 0.5);
}

.viewer-box {
  width: 100%;
  height: 220px;
}

.upload-model-name {
  color: #fff;
  margin-top: 10px;
  font-size: 1.2rem;
}

.view-btn {
  width: 100px;
  margin-top: 10px;
  padding: 8px;
  font-size: 0.9rem;
  background: #51e8ff;
  border: none;
  color: #0d0f22;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.view-btn:hover {
  background: #ffffff;
  color: #0d0f22;
  transform: scale(1.05);
}

.empty-msg {
  grid-column: span 3;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
